@page
@model IS413Assignment5Real.Pages.AddBookModel
@{
}


<h2 class="text-center"> Cart</h2>

<table class="table table-light table-striped">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th>Sub Total</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td>
                    @line.Quantity
                </td>
                <td>
                    @line.book.Title
                </td>
                <td>
                    @line.book.Price
                </td>
                <td>
                    @(line.Quantity * line.book.Price )
                </td>
                <td>
                    <form asp-page="/AddBook" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <input type="hidden" id="bookId" name="bookId" value="@line.book.BookId" />
                        <input type="hidden" id="postType" name="postType" value="Deleting" />
                    </form>
                </td>

            </tr>
        }

        <tr><td></td><td></td><td></td><td>Total @Model.Cart.ComputeTotalSum()</td><td></td></tr>
    </tbody>

</table>

<br />
<div class="text-center">
    <a href="@Model.ReturnUrl">
        <button class="btn btn-secondary">
            Continue Shopping
        </button>
    </a>
</div>